/*PENDRAGON ONLINE
September 2018
Based on: Aurora
Includes: default style, Siema slideshow, parallax, animations, responsive and preloader
*/

/*Body*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    background-color: white; /*default colour is white, purple for home only!*/
    color: black; /*default colour is black, white for home only!*/
    font-family: Helvetica, sans-serif;
}

/*Typography*/

/*Quicksand Font*/
@font-face {
    font-family: "quicksand";
    src: url(../fonts/QuicksandLight-Regular.otf) format('opentype');
    src: url(../fonts/QuicksandLight-Regular.ttf) format('truetype');
    src: url(../fonts/QuicksandLight-Regular.eot) format('embedded opentype');
    src: url(../fonts/QuicksandLight-Regular.woff) format('woff');
    src: url(../fonts/QuicksandLight-Regular.woff2) format('woff2');
}

t { /*'pendragon online' header text/logo*/
    color: #00B8E9;
    font-family: quicksand, Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
}

p, h3, h4, f1, f2, m1, td, th {
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, h3 {
    font-family: quicksand, Arial, Arial, Helvetica, sans-serif;
    color: #00B8E9;
}

p {
    font-size: 16px;
    line-height: 24px;
}

h1 {
    font-size: 32px;
}

h2 {
    font-size: 24px;
}

h3 {
    font-size: 16px;
}

h4 {
    font-size: 12px;
    font-style: italic;
    font-weight: lighter;
}

f1, f2 {
    color: white; /*default colour, only black on home page!*/
}

f1 {
    font-size: 12px;
}

f2 {
    font-size: 10px;
    font-style: italic;
}

m1 {
    font-size: 16px;
    text-align: center;
    visibility: hidden;
}

.link:hover {
    cursor: pointer;
    color: #00B8E9;
}

/*Container*/
#container {
    width: 100%;
}

/*Dragonbase Slideshow*/
#dragonbase-slideshow {
    position: relative;
    width: 100%;
    height: 70vh;
    background-position: center;
    background-size: cover;
    transition: .3s ease-in;
    background-image: url('../images/slideshow/3.jpg');
}

#dragonbase-slideshow-buttons, #dragonbase-slideshow-buttons-left, #dragonbase-slideshow-buttons-right {
    position: absolute;
    z-index: 2;
    text-align: center;
}

#dragonbase-slideshow-buttons {
    left: 0;
    right: 0;
    bottom: 0;
    margin-bottom: 2%;
}

#dragonbase-slideshow-buttons-left {
    left: 0;
    bottom: 50%;
}

#dragonbase-slideshow-buttons-right {
    right: 0;
    bottom: 50%;
}

/*Box and slideshow info panels*/
.info-panel, .info-panel-slideshow, .hamburger-panel {
    position: absolute;
    padding: 20px 20px 20px 20px;
    width: 100%;
    opacity: 0.9;
    background-color: #010219;
    bottom: 0;
    z-index: 2;
    text-align: center;
    color: white;
}

.info-panel, .info-panel-slideshow {
    display: none;
}

.info-panel {
    height: 45%;
}

.info-panel-slideshow {
    height: 25%;
}

.info-panel-text, .hamburger-panel-text {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*Info panel additional styling classes*/
.smaller {
    height: 20%;
}

.red {
    background-color: red;
    opacity: 0.2;
}

.photo-menu, .hamburger-panel {
    position: relative;
    height: 100%;
    text-align: right;
}

/*Header (area that holds the menu bar and logo)*/
#header {
    position: relative;
    top: 0;
    width: 100%;
    height: 20%;
    background-color: #03031b;
    z-index: 5000;
}

/*Logo div*/
#Logo, #LogoHome {
    top: 0;
    margin-top: 4%;
    margin-left: 9.5%;
    float: left;
}

    #Logo:hover, #LogoHome:hover {
        cursor: pointer;
        text-shadow: 0px 0px 30px red;
        transition: .2s ease-in-out;
    }

/*Pendragon logo holder*/
#dragon-logo {
    position: absolute;
    top: 0;
    margin-top: 2%;
    margin-left: 2%;
    z-index: 500000;
}

/*Pendragon logo*/
#pendragon-logo {
    height: 120px;
    padding-right: 100px;
}

#dragon-logo:hover {
    transform: rotateX(360deg);
    transition: 2s;
}

/*Columns*/
.two-column, .three-column, .four-column, .five-column {
    float: left;
    padding-right: 50px;
}

.two-column {
    width: 50%;
}

.three-column {
    width: 33%;
}

.four-column {
    width: 25%;
}

.five-column {
    width: 20%;
}

.six-column {
    float: left;
    padding-right: 25px;
    width: 16%;
}

.eight-column {
    float: left;
    padding-right: 25px;
    width: 12%;
}

.row:after { /* Clear floats after the columns */
    content: "";
    display: table;
    clear: both;
}

.padding-bottom {
    padding-bottom: 3%;
}

/*Desktop menu bar*/
.desktop-hamburger-button, .photography-menu-button-holder { /*class to hold the menu buttons on the desktop website*/
    top: 0;
    float: right;
}

.menu, .top-menu {
    position: relative;
    width: 100%;
    padding-left: 3%;
    background-color: white;
}

.menu {
    height: 7%;
    background-color: white;
}

.mega-menu {
    position: relative;
    background-color: white;
    border-color: black;
    border: 4px;
    z-index: 500;
    display: none;
    padding-top: 2.5%;
    padding-bottom: 3%;
    padding-left: 3%;
}

.top-menu {
    height: 3%;
    background-color: black;
}

/*Parallax button styling*/
.parallax-button {
    background-color: #010219;
    border-color: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    outline: none;
}

.parallax-button:focus { /*remove outline from buttons in certain browsers (Google Chrome)*/
    outline: 0;
}

    .parallax-button:hover { /*styles for button hover - added as a class in 'animations.js'*/
        background-color: red;
        transition: .3s;
        font-size: 18px;
    }

/*Text containers*/
#textcontainer, .parallax-textbox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
    left: 0;
    right: 0;
    top: 0;
    z-index: 1;
    padding: 2% 2% 2% 2%;
}

#textcontainer, .parallax-textbox {
    width: 85%;
}

/*Menu buttons*/
.slideshow-button {
    color: white;
    background-color: #008CE9;
    padding: 3px 12px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 160px;
    border: none;
    outline: none;
}

.menu-button, .top-menu-button {
    outline: none;
    height: 100%;
    width: 10%;
    border: none;
    padding-bottom: 0.2%;
    padding-left: 0.2%;
}

.menu-button {
    color: black;
    background-color: white;
    font-size: 16px;
    text-align: center;
}

.top-menu-button {
    color: white;
    background-color: black;
    text-align: left;
}

    .menu-button:hover, .top-menu-button:hover {
        color: white;
        background-color: #00A2E9;
        cursor: pointer;
        transition: .3s ease-in-out;
    }

.slideshow-button:hover {
    background-color: #00B8E9;
    cursor: pointer;
    transition: .3s ease-in-out;
}

.right {
    float: right;
    text-align: right;
    padding-right: 3%;
    width: 10%;
}

.button {
    background-color: #00A2E9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 14px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    border: none;
    outline: none;
}

    .button:hover {
        cursor: pointer;
        font-size: 16px;
        transition: .3s ease-in-out;
    }

#desktop-hamburger {
    visibility: hidden;
}

menu-button:focus { /*remove outline from buttons in certain browsers (Google Chrome)*/
    outline: 0;
}


/*Image classes*/
.img-full {
    width: 100%;
}

.img-right {
    left: 0;
    margin-left: 35%;
    width: 60%;
}

.img-left {
    left: 0;
    margin-left: 5%;
    width: 60%;
}

.img-footer {
    border-radius: 50%;
}

.vid-full {
    width: 100%;
    height: 100%;
}

/*PARALLAX common elements*/
.families-section, .freedom-section, .business-section {
    position: relative;
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.families-section { /*Families*/
    background-image: url("../images/home/family.jpg");
    min-height: 700px;
}

.freedom-section { /*Freedom*/
    background-image: url("../images/home/freedom.jpg");
    min-height: 700px;
}

.business-section { /*Business*/
    background-image: url("../images/home/bestforbusiness.jpg");
    min-height: 700px;
}

.caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #00B8E9;
    font-size: 60px;
}

/*Search*/
.search, .log-in-button {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 3%;
}

.search {
    margin-right: 3%;
}

.log-in-button {
    margin-right: 10%;
}

form {
    padding: 0;
    margin: 0;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 45px;
    box-sizing: border-box;
    display: inline
}



/*Table*/
table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    text-align: left;
    padding: 8px;
}

/*FOOTER*/
.footer {
    position: relative;
    background-color: #03031b; /*default, specifiy in in-line CSS if it will not be blue*/
    bottom: 0;
    margin-bottom: 0px;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 2%;
    color: white;
}

.footer-logo, .footer-social, .footer-text {
    position: relative;
    float: left;
    padding: 0;
    top: 0;
    margin-top: 0px;
    height: 100%;
}

.footer-logo {
    width: 48%;
    text-align: right;
    padding-right: 6%;
    padding-top: 1.6%;
}

.footer-social {
    width: 2%;
    padding-top: 2%;
}

.footer-text {
    width: 50%;
    text-align: left;
    padding-top: 1.8%;
}

#dragon-footer {
    height: 150px;
    width: 150px;
}





/*--------------------------------------------------------------------------------------------------------------------------------------------------------------------*/


/*RESPONSIVE*/

/*Disable parallax on mobile devices*/
@media only screen and (max-width: 1025px) {
    /*PARALLAX common elements*/
    .families-section, .freedom-section, .business-section {
        position: relative;
        background-attachment: unset;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        max-height: 35%;
    }
}

@media only screen and (max-width: 768px) {
    .two-column, .three-column, .four-column, .five-column, .six-column, .eight-column {
        width: 100%;
    }
}



    /*Preloader*/
    #preloader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        background-color: white;
        z-index: 100000000000;
    }

#status {
    width: 250px;
    height: 271px;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/favicon.png);
    background-repeat: no-repeat;
    background-position: center;
    animation: logo-zoom 3s infinite;
}

@keyframes logo-zoom {
    0% {
        transform: scale(0.3,0.3);
    }

    80% {
        transform: scale(1,1);
    }

    100% {
        transform: scale(0.3,0.3);
    }
}

